Api_key (período de 01-01-2023 à 01-01-2024 -> 1 ano)

In [2]:
url = "https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial='01-01-2023'&@dataFinalCotacao='01-01-2024'&$top=1000&$skip=0&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao"

Importação das Bibliotecas

In [3]:
import pandas as pd  #possibilita manipulação e análise de dados
import requests  #possibilita integração com serviços web, solicitações HTTP consumir dados de APIs
import json  #manipular arquivo json

Função para extrair os dados da API

In [6]:
def requisicao_api(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('resultado_Periodo.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

In [7]:
requisicao_api(url)

Status Code: 200

Conversão em dataframe (para Json)

In [8]:
jsondata = pd.read_json('resultado_Periodo.json')

In [9]:
data = jsondata['value']
dados_df = pd.json_normalize(data)

In [10]:
dados_df.head()

   cotacaoCompra  cotacaoVenda          dataHoraCotacao
0         5.3430        5.3436  2023-01-02 13:05:57.593
1         5.3753        5.3759   2023-01-03 13:11:19.08
2         5.4453        5.4459  2023-01-04 13:09:19.572
3         5.4020        5.4026  2023-01-05 13:03:32.262
4         5.2849        5.2855  2023-01-06 13:02:28.727

Exportando para CSV

In [11]:
df = pd.json_normalize(jsondata['value']) ; 
df.to_csv("resultado_Periodo.csv", index=False)